<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
       <%= typeof title!= 'undefined' ? title : 'CookingRecipesBlogs' %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

    <div class="container-xxl px-md-5 bg-white shadow-lg">

        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0 text-dark"> 
                <a href="/" class="d-flex align-items-center  text-decoration-none">
                    <img src="/img/logo.svg" width="229" height="68" alt="CookingRecipesBlogs">
                </a>
          </div>
          <div class="col-12 col-md-auto me-md-auto mb-2 mb-md-0">
            <ul class="nav justify-content-center">
                
                    <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
                    <li><a href="/about" class="nav-link px-2 link-secondary">About</a></li>
                    <li><a href="/submit-recipe" class="nav-link px-2 link-secondary">Submit</a></li>
                    <li><a href="/contact" class="nav-link px-2 link-secondary">Contact</a></li>
             </ul>
          </div>

             <div class="col-md-3 text-md">
                <form action="/search" method="POST">
                    <input type="search" name="searchTerm" id="" class="form-control" placeholder="Search......" aria-label="Search">
                </form>

             </div>
        </header>
        
       <main>
        <%- body -%>
       </main> 

       <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3">
          <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"> 
             <svg class="bi me-2" width="40" height="32"><use xlink:href="img/logo.svg"></use></svg> 
             <img src="/img/logo.svg" width="229" height="68" alt="CookingRecipesBlogs" class="bi me-2">
          </a>
          <p class="text-body-secondary">©rohanhoval 2023</p>
        </div>
    
    
        <div class="col mb-3">
          
        </div>
    
        <div class="col mb-6">
         
        </div>
    
        <div class="col mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-body-secondary">About</a></li>
            <li class="nav-item mb-2"><a href="/submit-recipe" class="nav-link p-0 text-body-secondary">Submit</a></li>
            <li class="nav-item mb-2"><a href="/contact" class="nav-link p-0 text-body-secondary">Contact</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
            
          </ul>
        </div>
      </footer>
    </div> 
   

 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
     <script src="/js/script.js"></script>
  </body>
</html>

