<div class="l-container article__container">
    <header class="article-header">
        <div class="text-center">
            <img src="/img/logo.svg" width="400" height="200" alt="Cooking blogs logo">
        </div>
        <div class="d-flex justify-content-center mt-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="#who-we-are">Who We Are</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#our-history">Our History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#recipe-development--testing">Recipe Development & Testing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#diversity--inclusion">Diversity & Inclusion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#comments">Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#product-reviews">Product Reviews</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="article-content mt-4 mx-md-5 px-3">
        <!-- Content here -->
        <div class="text-center justify-content-center mt-3">
            <div class="mb-4 text-center">
                <span class="heading-toc" id="who-we-are"></span>
                <h2 class="h2">Who We Are</h2>
                <p class="text-center text-md-left mx-md-5 text-justify">
                    Cooking Recipes is here to help you cook delicious meals with less stress and more joy. We offer recipes and cooking advice for home cooks, by home cooks. Helping create “kitchen wins” is what we’re all about.
                </p>
            </div>
        
            <div class="mb-4">
                <span class="heading-toc" id="our-history"></span>
                <h2 class="h2">Our History</h2>
                <p class="text-center text-md-left mx-md-5 text-justify">
                    Elise Bauer was a busy Silicon Valley executive when she became sick with a flu that wouldn’t go away in 2001. In 2003, Elise moved home with her parents and lived with them for several years, recovering from chronic fatigue and documenting her parents’ cooking on Cooking Recipes. Over the years, what started as a small blog grew to reach millions of readers every month! In 2020, Cooking Recipes was acquired by Dotdash Meredith, a New York-based media company.
                </p>
            </div>
        
            <div class="mb-4">
                <span class="heading-toc" id="recipe-development--testing"></span>
                <h2 class="h2">Recipe Development & Testing</h2>
                <p class="mx-md-5 text-justify">
                    Our recipes primarily use fresh, unprocessed ingredients but we also believe there is a time and a place for canned, frozen, and other prepared ingredients. We believe in a diet that includes a wide variety of foods: real butter and cream, extra virgin olive oil, eggs, lots of fruits and vegetables, and protein from meat, fish, beans, and cheese. Plus cake for dessert.
                </p>
            </div>
            <div class="mb-4">
                <span class="heading-toc" id="diversity--inclusion"></span>
                <h2 class="h2">Diversity & Inclusion</h2>
                <p class="mx-md-5 text-justify">
                    Our recipes primarily use fresh, unprocessed ingredients but we also believe there is a time and a place for canned, frozen, and other prepared ingredients. We believe in a diet that includes a wide variety of foods: real butter and cream, extra virgin olive oil, eggs, lots of fruits and vegetables, and protein from meat, fish, beans, and cheese. Plus cake for dessert.
                </p>
            </div>
            <div class="mb-4">
                <span class="heading-toc" id="comments"></span>
                <h2 class="h2">Comments</h2>
                <p class="mx-md-5 text-justify">
                    Our recipes primarily use fresh, unprocessed ingredients but we also believe there is a time and a place for canned, frozen, and other prepared ingredients. We believe in a diet that includes a wide variety of foods: real butter and cream, extra virgin olive oil, eggs, lots of fruits and vegetables, and protein from meat, fish, beans, and cheese. Plus cake for dessert.
                </p>
            </div>
            <div class="mb-4">
                <span class="heading-toc" id="product-reviews"></span>
                <h2 class="h2">Product Reviews</h2>
                <p class="mx-md-5 text-justify">
                    Our recipes primarily use fresh, unprocessed ingredients but we also believe there is a time and a place for canned, frozen, and other prepared ingredients. We believe in a diet that includes a wide variety of foods: real butter and cream, extra virgin olive oil, eggs, lots of fruits and vegetables, and protein from meat, fish, beans, and cheese. Plus cake for dessert.
                </p>
            </div>
        </div>
    </div>
</div>
