<div class="l-container article__container">
    <header class="article-header">
        <div class="text-center">
            <img src="/img/logo.svg" width="400" height="200" alt="Cooking blogs logo">
        </div>
        <div class="d-flex justify-content-center mt-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="#who-we-are">Who We Are</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#our-history">Our History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#recipe-development--testing">Recipe Development & Testing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#diversity--inclusion">Diversity & Inclusion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#comments">Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#product-reviews">Product Reviews</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="article-content  mt-4 mx-auto px-3">
        <!-- Content here -->
        <div class="text-center justify-content-center mt-3">
            <div class=" mb-4"> <!-- Wrap the first pair of h2 and p tags -->
                <span class="heading-toc" id="who-we-are"></span>
                <h2 class="h2">Who We Are</h2>
                <p style="margin-left: 400px; margin-right: 400px; text-align: justify; text-indent:50px;">
                    Simply Recipes is here to help you cook delicious meals with less stress and more joy. We offer recipes and cooking advice for home cooks, by home cooks. Helping create “kitchen wins” is what we’re all about.<br>
                         <br>
                     Simply Recipes was founded in 2003 by Elise Bauer as a home cooking blog to record her favorite family recipes. Today, Simply Recipes has grown into a trusted resource for home cooks with more than 3,000 tested recipes, guides, and meal plans, drawing over 15 million readers each month from around the world. We’re supported by a diverse group of recipe developers, food writers, recipe and product testers, photographers, and other creative professionals.
            </div>
        
            <div class="mb-4"> <!-- Wrap the second pair of h2 and p tags -->
                <span class="heading-toc" id="our-history"></span>
                <h2 class="h2">Our History</h2>
                <p style="margin-left: 400px; margin-right: 400px; text-align: justify; text-indent:50px;">
                    Elise Bauer was a busy Silicon Valley executive when she became sick with a flu that wouldn’t go away in 2001. In 2003, Elise moved home with her parents and lived with them for several years, recovering from chronic fatigue and documenting her parents’ cooking on Simply Recipes. (<a href="https://www.simplyrecipes.com/behind-the-scenes-at-simply-recipes-5111324" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="1">Here’s more of that story</a>.) Over the years, what started as a small blog grew to reach millions of readers every month! In 2020, Simply Recipes was acquired by Dotdash Meredith, a New York-based media company.
                </p>
            </div>
        
            <div class="mb-4"> <!-- Wrap the third pair of h2 and p tags -->
                <span class="heading-toc" id="recipe-development--testing"></span>
                <h2 class="h2">Recipe Development &amp; Testing</h2>
                <p style="margin-left: 400px; margin-right: 400px; text-align: justify; text-indent:50px;">
                    Our recipes primarily use fresh, unprocessed ingredients but we also believe there is a time and a place for canned, frozen, and other prepared ingredients. We believe in a diet that includes a wide variety of foods: real butter and cream, extra virgin olive oil, eggs, lots of fruits and vegetables, and protein from meat, fish, beans, and cheese. Plus cake for dessert.
                </p>
            </div>
            <div class="mb-4"> <!-- Wrap the third pair of h2 and p tags -->
                <span class="heading-toc" id="diversity--inclusion"></span>
                <h2 class="h2">Diversity & Inclusion</h2>
                <p style="margin-left: 400px; margin-right: 400px; text-align: justify; text-indent:50px;">
                    Our recipes primarily use fresh, unprocessed ingredients but we also believe there is a time and a place for canned, frozen, and other prepared ingredients. We believe in a diet that includes a wide variety of foods: real butter and cream, extra virgin olive oil, eggs, lots of fruits and vegetables, and protein from meat, fish, beans, and cheese. Plus cake for dessert.
                </p>
            </div>
            <div class="mb-4"> <!-- Wrap the third pair of h2 and p tags -->
                <span class="heading-toc" id="comments"></span>
                <h2 class="h2">Comments</h2>
                <p style="margin-left: 400px; margin-right: 400px; text-align: justify; text-indent:50px;">
                    Our recipes primarily use fresh, unprocessed ingredients but we also believe there is a time and a place for canned, frozen, and other prepared ingredients. We believe in a diet that includes a wide variety of foods: real butter and cream, extra virgin olive oil, eggs, lots of fruits and vegetables, and protein from meat, fish, beans, and cheese. Plus cake for dessert.
                </p>
            </div>
            <div class="mb-4"> <!-- Wrap the third pair of h2 and p tags -->
                <span class="heading-toc" id="product-reviews"></span>
                <h2 class="h2">Product Reviews</h2>
                <p style="margin-left: 400px; margin-right: 400px; text-align: justify; text-indent:50px;">
                    Our recipes primarily use fresh, unprocessed ingredients but we also believe there is a time and a place for canned, frozen, and other prepared ingredients. We believe in a diet that includes a wide variety of foods: real butter and cream, extra virgin olive oil, eggs, lots of fruits and vegetables, and protein from meat, fish, beans, and cheese. Plus cake for dessert.
                </p>
            </div>
      </div>
    </div>
</div>