
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" id="loginCard" style="border-radius: 1rem;">
            <div id="loginPopup" class="popup">
                <div class="popup-content">
                <div style="text-align: right; padding-right: 20px; padding-top: 10px;">
                  <span class="close-popup" onclick="closeLoginPopup()">&times;</span>
                  </div>
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Sign in</h3>
  
              <form action="/login" method="POST">
                <div class="form-outline mb-4">
                  <input type="email" name="email" id="typeEmailX-2" class="form-control form-control-lg" />
                  <label class="form-label" for="typeEmailX-2">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="typePasswordX-2" name="password" class="form-control form-control-lg" />
                  <label class="form-label" for="typePasswordX-2">Password</label>
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-start mb-4">
                  <a href="/registration">Not a member</a>
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
              </form>
  
              <!-- <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
              <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button> -->
             </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
